body{
font-family: 'Dancing Script', cursive;
background: pink;
}

.header_div
{
   background: white; 
   color: red;
}
.header_div p{
    font-family: 'Indie Flower', cursive;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Indie Flower', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.copy_right_footer{
    position: absolute;
    color: gray;
    text-shadow: 5px 5px 5px pink;
    bottom: 0px;
    width:100%;
    font-weight: bold;
    font-size: small;
    background: white;
    text-align: center;
    line-height: 3;

}